.sidebar-header {
  padding: 0.6rem;
}

.search-container {
  position: relative;
}

.search-container > input {
  padding: 0.4rem 2rem 0.4rem 0.8rem;
  outline: none;
  border: 1px solid #a1a1aa;
  border-radius: 18px;
  background-color: #f4f4f5;
}

.search-container > svg {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: calc(50% - 0.7rem);
  right: 8px;
  color: #a1a1aa;
}
